@using RentACar.Data.Models
@using Microsoft.AspNetCore.Identity

@model DetailsModel
@inject SignInManager<User> SignInManager

<link rel="stylesheet" href="~/css/Details.css" />


@{
    var car = Model.CarDetailModel;
}

<div class="card mb-3">
    <img src="@car.ImageUrl" class="card-img-top" alt="@car.ImageUrl" alt="@car.Brand @car.Model - @car.Year (@car.CategoryName)">
    <div class="card-body">
        <h3 class="card-title">@car.Model @car.Brand - @car.Year (@car.CategoryName)</h3>
        <p class="card-text font-weight-bold">Description: @car.Description</p>
        <p class="card-text font-weight-bold">Dealer: @car.DealerName</p>
        <p class="card-text font-weight-bold">Dealer Number: @car.DealerPhoneNumber</p>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Rents" asp-action="NewRent" asp-route-id="@car.Id" class="btn btn-primary"><b>Rent a car</b></a>
        }
    </div>
</div>

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <partial name="_CommentsPartial" model="@Model.Comments" />
        </div>
    </div>
</div>
